body {
  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--tt-gray-light-900);
  font-family: "Courier New", Courier, monospace;
  .dark & {
    --tt-theme-text: var(--tt-gray-dark-900);
  }
}

html,
body,
#root,
#app {
  height: 100%;
  background-color: var(--tt-bg-color);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--tt-scrollbar-color) transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tt-scrollbar-color);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.tiptap.ProseMirror {
  font-family: "Poppins", sans-serif;
}

.simple-editor-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.simple-editor-content {
  height: 100px;
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid var(--input);
  border-radius: 15px;
  overflow-x: auto;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  flex: 1;
  padding: 1rem 1rem;
}

@media screen and (max-width: 480px) {
  .simple-editor-content .tiptap.ProseMirror.simple-editor {
    padding: 1rem 1rem;
  }
}
