@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --background: 25.71 22.58% 93.92%;
    --foreground: 0 0% 14.12%;
    --card: 25.71 22.58% 93.92%;
    --card-foreground: 0 0% 16.08%;
    --popover: 25.71 22.58% 93.92%;
    --popover-foreground: 161.05 31.15% 11.96%;
    --primary: 166.45 15.27% 39.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 165 10.13% 69.02%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 78.04%;
    --muted-foreground: 0 0% 16.08%;
    --accent: 165.6 10.04% 51.18%;
    --accent-foreground: 0 0% 100%;
    --destructive: 10.3 100% 38.82%;
    --destructive-foreground: 180 4% 95.1%;
    --border: 164.21 10.05% 62.94%;
    --input: 162 10.42% 81.18%;
    --ring: 163.12 15.69% 40%;
    --chart-1: 162.71 28.23% 40.98%;
    --chart-2: 162.27 40.74% 21.18%;
    --chart-3: 162.71 28.23% 40.98%;
    --chart-4: 162.27 40.74% 21.18%;
    --chart-5: 162.71 28.23% 40.98%;
    --sidebar: 25.71 22.58% 93.92%;
    --sidebar-foreground: 240 5.26% 26.08%;
    --sidebar-primary: 240 5.88% 10%;
    --sidebar-primary-foreground: 161.38 16.2% 64.9%;
    --sidebar-accent: 161.38 16.2% 64.9%;
    --sidebar-accent-foreground: 240 5.88% 10%;
    --sidebar-border: 0 0% 23.14%;
    --sidebar-ring: 166.45 15.27% 39.8%;
    --font-sans: Outfit, sans-serif;
    --font-serif: Playfair Display, serif;
    --font-mono: Poppins, sans-serif;
    --radius: 1rem;
    --shadow-2xs: 1px 1px 21px -15px hsl(0 0% 10.2% / 0.22);
    --shadow-xs: 1px 1px 21px -15px hsl(0 0% 10.2% / 0.22);
    --shadow-sm: 1px 1px 21px -15px hsl(0 0% 10.2% / 0.44),
      1px 1px 2px -16px hsl(0 0% 10.2% / 0.44);
    --shadow: 1px 1px 21px -15px hsl(0 0% 10.2% / 0.44),
      1px 1px 2px -16px hsl(0 0% 10.2% / 0.44);
    --shadow-md: 1px 1px 21px -15px hsl(0 0% 10.2% / 0.44),
      1px 2px 4px -16px hsl(0 0% 10.2% / 0.44);
    --shadow-lg: 1px 1px 21px -15px hsl(0 0% 10.2% / 0.44),
      1px 4px 6px -16px hsl(0 0% 10.2% / 0.44);
    --shadow-xl: 1px 1px 21px -15px hsl(0 0% 10.2% / 0.44),
      1px 8px 10px -16px hsl(0 0% 10.2% / 0.44);
    --shadow-2xl: 1px 1px 21px -15px hsl(0 0% 10.2% / 1.1);
  }

  .dark {
    --background: 250.91 18.64% 11.57%;
    --foreground: 250 36% 90.2%;
    --card: 251.25 20% 15.69%;
    --card-foreground: 250 36% 90.2%;
    --popover: 251.25 20% 15.69%;
    --popover-foreground: 250 36% 90.2%;
    --primary: 263.08 32.5% 68.63%;
    --primary-foreground: 250.91 18.64% 11.57%;
    --secondary: 254.48 14.87% 38.24%;
    --secondary-foreground: 250 36% 90.2%;
    --muted: 254.12 20.99% 15.88%;
    --muted-foreground: 258.95 10.38% 64.12%;
    --accent: 271.76 15.6% 21.37%;
    --accent-foreground: 345.52 69.05% 83.53%;
    --destructive: 0 68.67% 67.45%;
    --destructive-foreground: 250.91 18.64% 11.57%;
    --border: 252 18.52% 21.18%;
    --input: 249.47 19.59% 19.02%;
    --ring: 263.08 32.5% 68.63%;
    --chart-1: 263.08 32.5% 68.63%;
    --chart-2: 345.52 69.05% 83.53%;
    --chart-3: 158.77 31.4% 59.41%;
    --chart-4: 35.76 76.74% 74.71%;
    --chart-5: 215.82 54.47% 75.88%;
    --sidebar: 252 20% 9.8%;
    --sidebar-foreground: 250 36% 90.2%;
    --sidebar-primary: 263.08 32.5% 68.63%;
    --sidebar-primary-foreground: 250.91 18.64% 11.57%;
    --sidebar-accent: 271.76 15.6% 21.37%;
    --sidebar-accent-foreground: 345.52 69.05% 83.53%;
    --sidebar-border: 249.47 19.59% 19.02%;
    --sidebar-ring: 263.08 32.5% 68.63%;
    --font-sans: Geist, sans-serif;
    --font-serif: "Lora", Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
    --shadow-xs: 1px 2px 5px 1px hsl(0 0% 0% / 0.03);
    --shadow-sm: 1px 2px 5px 1px hsl(0 0% 0% / 0.06),
      1px 1px 2px 0px hsl(0 0% 0% / 0.06);
    --shadow: 1px 2px 5px 1px hsl(0 0% 0% / 0.06),
      1px 1px 2px 0px hsl(0 0% 0% / 0.06);
    --shadow-md: 1px 2px 5px 1px hsl(0 0% 0% / 0.06),
      1px 2px 4px 0px hsl(0 0% 0% / 0.06);
    --shadow-lg: 1px 2px 5px 1px hsl(0 0% 0% / 0.06),
      1px 4px 6px 0px hsl(0 0% 0% / 0.06);
    --shadow-xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.06),
      1px 8px 10px 0px hsl(0 0% 0% / 0.06);
    --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 0% / 0.15);
  }
}

* {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    -webkit-tap-highlight-color: transparent;
  }
}

body {
  font-family: "Libre Baskerville", serif;
  position: relative;
  overflow-x: hidden;
}

*::selection {
  background-color: #56756e;
  color: white;
}

.dark *::selection {
  background-color: #f2b8c6;
  color: white;
}

.section {
  padding-top: 70px;
}

.signInForm {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.noSelectImage {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@media (max-width: 768px) {
  .title {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.footer {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  clear: both;
  position: relative;
  margin-top: 50px;
}

.footer-col {
  padding: 20px 0px;
}

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 0.7rem;
  --slide-size: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  align-items: flex-start;
  touch-action: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 6rem;
}

/* .embla-thumbs__viewport {
  overflow: hidden;
} */
.embla-thumbs__container {
  display: flex;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
}

.embla-thumbs__slide {
  flex: 0 0 22%;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
}

@media (min-width: 576px) {
  .embla-thumbs__slide {
    flex: 0 0 15%;
  }
}

.grid3row {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  flex-direction: column;
}

.smlabel {
  background-color: hsl(var(--secondary) / 0.8);
}

.similar::-webkit-scrollbar {
  height: 10px;
}

.similar::-webkit-scrollbar-thumb {
  width: 20px;
  background: hsl(var(--accent));
  border-left-color: transparent;
  padding: 1px;
  height: 0.625rem /* 10px */;
  border-radius: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f3efec inset !important;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.table-wrapper {
  overflow-x: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #99999922 #00000000; /* Firefox */
}

/* Chrome, Edge, Safari */
.table-wrapper::-webkit-scrollbar {
  height: 6px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #999; /* Customize color */
  border-radius: 10px;
  transition: background-color 0.3s;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #65807a #f3efec; /* thumb and track colors for Firefox */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f3efec;
}

::-webkit-scrollbar-thumb {
  background-color: #65807a;
  border-radius: 8px;
  border: 2px solid #f3efec; /* Optional: makes thumb a bit inset */
}

/* Optional: Hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #56706b;
}
